@model IEnumerable < AviaTor.Models.Value>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Статистика</title>
</head>
<body>
    <div>
        <h3>Статистика:</h3>
        <table>
            
            @foreach (var v in ViewBag.Values)
            {
                <tr>
                    <td>Кэшбек:</td><td>@v.Cashback</td>
                 </tr>
                 <tr>
                    <td>Процент скидки: </td><td>@v.Procent</td>
                 </tr>
                 <tr>
                    <td>Посетители: </td><td>@v.Posetit</td>
                 </tr>
                 <tr>
                    <td>Сумма: </td><td>@v.Sum</td>
                 </tr>
                
            }
        </table>
    </div>
</body>
</html>